{
    "name": "MobileNetV3",
    "bn": {
        "momentum": 0.1,
        "eps": 1e-05
    },
    "first_conv": {
        "name": "ConvLayer",
        "kernel_size": 3,
        "stride": 2,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 3,
        "out_channels": 24,
        "use_bn": true,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "blocks": [
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 24,
                "out_channels": 24,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 1,
                "mid_channels": null,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    24
                ],
                "out_channels": [
                    24
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 24,
                "out_channels": 32,
                "kernel_size": 3,
                "stride": 2,
                "expand_ratio": 3,
                "mid_channels": 72,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 32,
                "out_channels": 32,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 128,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    32
                ],
                "out_channels": [
                    32
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 32,
                "out_channels": 32,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": 96,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    32
                ],
                "out_channels": [
                    32
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 32,
                "out_channels": 48,
                "kernel_size": 5,
                "stride": 2,
                "expand_ratio": 4,
                "mid_channels": 128,
                "act_func": "relu",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 48,
                "out_channels": 48,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 192,
                "act_func": "relu",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    48
                ],
                "out_channels": [
                    48
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 48,
                "out_channels": 48,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": 288,
                "act_func": "relu",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    48
                ],
                "out_channels": [
                    48
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 48,
                "out_channels": 48,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": 144,
                "act_func": "relu",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    48
                ],
                "out_channels": [
                    48
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 48,
                "out_channels": 96,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 6,
                "mid_channels": 288,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 96,
                "out_channels": 96,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": 576,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    96
                ],
                "out_channels": [
                    96
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 96,
                "out_channels": 96,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": 288,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    96
                ],
                "out_channels": [
                    96
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 96,
                "out_channels": 96,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 384,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    96
                ],
                "out_channels": [
                    96
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 96,
                "out_channels": 136,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": 576,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 136,
                "out_channels": 136,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": 816,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    136
                ],
                "out_channels": [
                    136
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 136,
                "out_channels": 136,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": 816,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    136
                ],
                "out_channels": [
                    136
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 136,
                "out_channels": 136,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 544,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    136
                ],
                "out_channels": [
                    136
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 136,
                "out_channels": 192,
                "kernel_size": 3,
                "stride": 2,
                "expand_ratio": 6,
                "mid_channels": 816,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 192,
                "out_channels": 192,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": 1152,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    192
                ],
                "out_channels": [
                    192
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 192,
                "out_channels": 192,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": 1152,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    192
                ],
                "out_channels": [
                    192
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 192,
                "out_channels": 192,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": 576,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    192
                ],
                "out_channels": [
                    192
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        }
    ],
    "final_expand_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 192,
        "out_channels": 1152,
        "use_bn": true,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "feature_mix_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 1152,
        "out_channels": 1536,
        "use_bn": false,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "classifier": {
        "name": "LinearLayer",
        "in_features": 1536,
        "out_features": 1000,
        "bias": true,
        "use_bn": false,
        "act_func": null,
        "dropout_rate": 0.2,
        "ops_order": "weight_bn_act"
    }
}